@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #304057;
    --bg-body-color: #f6f9fc;
    --sec-bg-color: #fff;
    --ter-bg-color: #405978;
    --ter-bg-hover-color: #1c2736;
    
    --logo-font: "Jura", Helvetica, Arial, sans-serif;
    --main-font: 'Ubuntu', sans-serif;
    --editor-font: "Source Code Pro", monospace;
    
    --txt-color: #fff;
    --sec-txt-color: #f21b3f;
    --ter-txt-color: #ce0c2c;
    --title-txt-color: #07203C;
    --p-txt-color: #445d6e;
    --editor-txt-color: #2bff4b;
    --purple-txt-color: #626ee3;
    --disabled-btn-color: #929292;
    
    --editor-bg: #1c2736;
    --bg-sec-editor: #405978;
    --bg-ter-editor: #1D2736;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation-light::after {
    background-color: var(--txt-color);
}

.hover-underline-animation-dark::after {
    background-color: var(--p-txt-color);
}

.hover-underline-animation-red::after {
    height: 2px;
    background-color: var(--sec-txt-color);
}

.hover-underline-animation-purple::after {
    height: 3px;
    background-color: var(--purple-txt-color);
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.headerBg {
    background: linear-gradient(-45deg, #2e4057 50%, #405978)
}

p {
    line-height: 1.6;
}

.editorImg {
    transform: perspective(600px) rotateX(6deg) rotateY(-10deg);
    box-shadow: 15px 15px 30px 10px rgba(0, 0, 0, 0.25);
}

.scroll {
   overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 8px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--sec-txt-color); 
}
