@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #304057;
    --sec-bg-color: #fff;
    --ter-bg-color: #405978;
    --ter-bg-hover-color: #1c2736;
    --editor-bg: #1c2736;
    
    --logo-font: "Jura", Helvetica, Arial, sans-serif;
    --main-font: 'Ubuntu', sans-serif;
    --editor-font: "Source Code Pro", monospace;
    
    --txt-color: #fff;
    --sec-txt-color: #f21b3f;
    --ter-txt-color: #ce0c2c;
    --title-txt-color: #07203C;
    --p-txt-color: #445d6e;
    --editor-txt-color: #2bff4b;
    
    --bg-sec-editor: #405978;
    --bg-ter-editor: #1D2736;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--txt-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.headerBg {
    background: linear-gradient(-45deg, #2e4057 50%, #405978)
}